@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 0;
  background-color: #f0f0f0;
}

.moving-box {
  width: 100px;
    transform: translateX(+50x);
    height: 100px;
  background-color: #4CAF50;
  position: relative;
  animation: moveLeftRight 1.5s infinite ease-in-out;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(350px);
  }
  100% {
    transform: translateX(0);
  }
}